
table
th {
    border-bottom: 1px solid black;
    border: 2px solid black;
}
td {
    text-align: center;
    border: 2px solid black;
}
h1{
    text-align: center;
    text-decoration: aqua;
}
   

    header { background-color: #0377eb; color: white; padding: 1px; }
    nav a { color: white; margin:  15px; text-decoration: right; }
    .apply-button { background-color: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; }
    .hero { padding: 40px; text-align: center; background-color: #f0f8ff; }
    .footer { background-color: #222; color: #aaa; padding: 10px; text-align: center; }


.body {
    min-height: 100vh;
    width: 100%;
    background-color:aqua;
    margin-right: 0;
    margin-bottom: 0;
    
    
   
}

.inner-body {
    height: 450px;
    width: 70%;
    margin: 8% 15% 8%;
    background-color:white;
    border-radius: 5px ;
    overflow-y: auto;
    color: black;
    padding: 10px;
    
   
   
}
